* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/FIELD.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    font-family: 'Fredoka One';
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 4px black;
    padding: 50px 0px 50px 0px;
}


/* Game board */

.game {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.fbflag {
    width: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

.fbflag:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.fbflag.flip {
    transform: rotateY(180deg);
}

.up,
.down {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 4px solid black;
    backface-visibility: hidden;
}

.down {
    padding: 35px;
}

.up {
    transform: rotateY(180deg);
}

.board-game {
    display: flex;
    background-color: white;
    border: 4px solid black;
    padding: 15px;
    border-radius: 15px;
}

/*social media footer */

.social-media li {
    text-align: center;
    font-size: 36px;
}

.social-media a {
    color: #fff;
    padding: 10px;
}

.social-media {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
}

.sm-area {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* media for screen 450px */

@media only screen and (max-width: 450px) {
    .game {
        width: 350px;
        height: 350px;
    }

    header {
        font-family: 'Fredoka One';
        font-size: 35px;
        color: white;
        -webkit-text-stroke: 2px black;
        padding: 50px 0px 50px 0px;
    }

    .down {
        padding: 10px;
    }
}